body {
      background-color:  #CE93D8;
      font-style: cambria;
}

.container {
      padding-left: 50px;
      padding-right: 50px;
      margin-right: auto;
      margin-left: auto;
}

.header {
      background-color: #AB47BC;
      margin-top:0;
      color: white;
}

.heading {
      font-family: georgia;
      font-size:28px;
      font-weight: bold;
      color:#FFFF00;
}

.tagline {
      font-family: forte;
      font-size: 20px;
      color: white;
}

.marque {
      font-family: cambria;
      font-weight: bold;
      font-size: 16px;
      color:#F44336;
      background-color: #E1BEE7;
      border-left: 1px solid purple;
      border-right: 1px solid purple;
}

.logoimg {
      margin-right: 3px;
}

.contents {
      background-color: #E1BEE7;
      border-left: 1px solid purple;
      border-right: 1px solid purple;
}

.jumbotron {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #AA00FF;//#6A1B9A;
      color:white;

}

.wellhead {
      background-color: #AA00FF;
      border:none;
      color: white;
}

.well {
      background-color: #9C27B0;
      padding: 10px;
      font-family: cambria;
      font-weight: bold;
      font-size: 18px;
      border:none;
      color: white;
      border-radius: 10px;
}

.allheading {
      background-color: #9C27B0;
      text-align: center;
      font-family: cambria;
      font-weight: bold;
      padding: 8px;
      color: white;
      border-radius: 10px;
      padding: auto;
}

.subheading{
      background-color: #BA68C8;
      text-align: center;
      font-family: cambria;
      font-weight: bold;
      padding: 5px;
      color: white;
}
.panel-heading{
      background-color: #BA68C8;
      font-weight: bold;
      color:white;
      font-family:cambria;
      font-size: 17px;
}

.panel-body{
      background-color: #F3E5F5;
      font-family:cambria;
      font-size:16px;
      color: black;
}

.topic > a:hover{
      background-color: #6A1B9A;
      color:white;
      font-size:22px;
}

.study a:link{     
      color:black;
      text-decoration:none;
      font-family: georgia;
      font-size: 16px;
  }

.study a:visited {
      color:green;
      text-decoration:none;
      font-family: georgia;
      font-size: 16px;
  }

.study a:hover   {
      color:purple;
      text-decoration:none;
      font-family: cambria;
      font-weight: bold;
      font-size:17px;
  }

.study a:active  {
      color:red;
      text-decoration:none;
      font-family: cambria;
      font-weight: bold;
      font-size: 17px;
  }

a:link {     
      color:white;
      text-decoration:none;
}

a:visited {
      color:white;
      text-decoration:none;
}

a:hover   {
      color:#FFFF00;
      font-size:18px;
      text-decoration:none;
}

a:active  {
      color:green;
      text-decoration:none;
}

.btn-color{
      background-color: #9C27B0;
      color:white;
      font-size: 16px;
      font-weight: bold;
}

.footer {
      font-weight: bold;
      font-size: 16px;
}

/* Navigation bar start here */

.navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: 15px; 
            
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
            color: white;
            background-color: #4A148C;
            border-radius: 0px;
            font-size: 16px;
            color: #FFFF00;

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
            color: white;
            background-color: #4A148C;
            color: #FFFF00;
}

.navbar-inverse {
            background-color: #7B1FA2;
            font-weight: bold;
            border-radius: 0px;
            border:none;
            font-style: cambria;
}

.navbar-inverse .navbar-brand {
            padding: 0; 
}

.navbar-right {
            border-color: none;
}

.navbar-brand {
      float: left;
      padding: 2px;
      font-size: 18px;
      line-height: 20px;
}

/* Navigation bar end Here */


/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
      margin-top: 0;
      margin-bottom: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
      height: auto;
}

/* Set gray background color and 100% height */
.sidenav {
      padding-top: 20px;
      height: 100%;
}

/* Set black background color, white text and some padding */
footer {
      background-color: #9C27B0;
      color: white;
      padding: 15px;
      margin-top: 0;
      margin-bottom:0;
      font-weight: bold;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
      height: auto;
      padding: 15px;
  }
  .row.content {
      height:auto;
  } 
}